.card-title {
  font-size: 1.25rem;
  font-weight: 500;
}

.card {
  border-radius: 8px;
  border: 1px solid #e0e0e0;
}

.btn-link {
  text-decoration: none;
}

.bi {
  vertical-align: middle;
}

.agregar{
  
  align-content: flex-end;
  color: black;
}